<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/dummy//bootstrap.min.css"-->
    <!--integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">

    <title> Jobs </title>

</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container-fluid">
            <div class="" style="width:70%;text-align:center;">
                <form style="valign:center;margin: 0px auto;" method="GET">
                    <!--<input type="text" name="search_string" style="padding: 5px 7px;border-radius:2px;border:1px royalblue solid;width:70%;">-->
                    {{form.search_text(style="padding: 5px 7px;border-radius:2px;border:1px royalblue
                    solid;width:70%;box-shadow: inset 0 0 3px #f0f0f0;", value=search_text or "")}}
                    {{form.form_page}}
                    <input type="submit" name="search" value="Search"
                           style="padding:5px 7px;background-color:royalblue;border:0px;border-radius:3px;color:white;">
                </form>
            </div>
            <br>
            <div class="">
                {% for s in search_result%}
                <div class=""
                     style="width: 84%;padding: 5px 7px; border: 0px cornflowerblue solid;border-radius:4px;margin: 15px auto;box-shadow: 0 0 5px cornflowerblue;">
                    <a href="{{s._source.job_link}}"><span>{{s._source.job_title}}</span> </a>
                    <br>At <span>{{s._source.company}}</span>
                    <br><span style="font-size:11px;">Compensation: <span>{{s._source.compensation}}</span></span>
                    <br><span style="font-size:10px;">Source: {{s._source.platform}}</span>
                </div>
                {%endfor%}
            </div>
            <div style="margin:0px auto;text-align:center;">
                {% if from_page >= 5 %}
                <a href="{{url_for('jobs', from_page=from_page-5, search_text=search_text)}}">
                    <span style="padding:3px 5px;background:skyblue;color:white;border-radius:2px;">Previous</span>
                </a>
                {% endif %}
                {% if from_page >= 0 %}
                <a href="{{url_for('jobs', from_page=from_page+5, search_text=search_text)}}">
                    <span style="padding:3px 5px;background:skyblue;color:white;border-radius:2px;">Next</span>
                </a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>